@import "./mixins.scss";

.main {
  background: color(bg, base);
  height: 100%;
  color: #27282a;
  .hero {
    display: flex;
    border-bottom: 4px solid white;
    height: 100vh;
    @include respond-to("mobile") {
      flex-direction: column;
    }
    .left,
    .right {
      height: 100%;
      padding: 2rem;

      @include respond-to("mobile") {
        padding: 1rem;
      }
    }
    .left {
      flex: 4;
      background: #fff;
      display: grid;
      place-items: center;
    }
    .right {
      flex: 5;
      display: grid;
      grid-template-rows: auto 1fr auto;
      gap: 2rem;

      @include respond-to("mobile") {
        grid-template-rows: auto 1fr;
      }
      .heroContent {
        display: block;
        align-self: end;
        @include respond-to("mobile") {
          display: none;
          padding: 1rem;
        }
      }
    }
  }

  .gallery {
    background: color(bg, base);
    .galleryContent {
      display: none;
      @include respond-to("mobile") {
        display: block;
        padding: 1rem;
      }
    }
    .subtitle {
      padding: 4rem 4rem 0;
      font-weight: 400;
      font-size: 2rem;
      @include respond-to("mobile") {
        padding: 1rem 1rem 0;
        margin-bottom: 1rem;
      }
    }
  }
}
.imageWrapper {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.claimedNFT {
  background-color: #27282a;
  height: 300px;
  display: flex;
  border-radius: 5px;
  box-shadow: 10px 10px 19px -12px rgba(0, 0, 0, 0.32);
  color: white;
  .left,
  .right {
    height: 100%;
    padding: 1rem;
    flex: 1;
  }
  .left {
    background: #fff;
    display: grid;
    place-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  @include respond-to("mobile") {
    flex-direction: column;
  }
}
